@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #CCCCCC;
	color: #FFFFFF;
}
h2{
	margin: 30px 0 30px 50px;
}
ul01{
	position: relative;
	margin: 0 0 0 50px;
}
.text li{
	list-style-type: none;
	float: left;
}
input{
	position: absolute;
	display: none;
}
label{
	display: block;
	width: 150px;
	height: 54px;
	background-color: #529E91;
	font-size: 20px;
	line-height: 54px;
	text-align: center;
	border-radius: 5px 5px 0 0;
}
div{
	position: absolute;
	top: 52px;
	left: -800px;
	width: 700px;
	height: 355px;
	padding: 25px;
	background-color: #1E6B4D;
}
p{
	margin: 15px 0;
	font-size: 18px;
}
label:hover{
	background-color: #38846F;
	cursor: pointer;
}
input:checked + label{
	position: relative;
	top: -4px;
	padding-top: 3px;
	background-color: #1E6B4D;
	text-decoration: underline;
}
input:checked~div{
	z-index: 2;
}
